.snake-block {
  width: 30px;
  height: 30px;
  /* background-color: rgb(9, 255, 87); */
  position: absolute;
  background-size: contain;
}

.snake-head {
  width: 30px;
  height: 30px;
}

.snake-head-Up {
  background-image: url(../assets/snake/head_up.png);
}

.snake-head-Right {
  background-image: url(../assets/snake/head_right.png);
}

.snake-head-Down {
  background-image: url(../assets/snake/head_down.png);
}

.snake-head-Left {
  background-image: url(../assets/snake/head_left.png);
}

.snake-body-Up,.snake-body-Down{
  background-image: url(../assets/snake/body_vertical.png);
}

.snake-body-Left,.snake-body-Right{
  background-image: url(../assets/snake/body_horizontal.png);
}

.snake-body-bottomleft{
  background-image: url(../assets/snake/body_bottomleft.png);
}

.snake-body-bottomright{
  background-image: url(../assets/snake/body_bottomright.png);
}

.snake-body-topright{
  background-image: url(../assets/snake/body_topright.png);
}

.snake-body-topleft{
  background-image: url(../assets/snake/body_topleft.png);
}

.snake-tail-Up {
  background-image: url(../assets/snake/tail_down.png);
 
}
.snake-tail-Down {
  background-image: url(../assets/snake/tail_up.png);
 
}
.snake-tail-Left {
  background-image: url(../assets/snake/tail_right.png);
 
}
.snake-tail-Right {
  background-image: url(../assets/snake/tail_left.png);
 
}
